.env
ssh
.pem
/airflow/logs/
terraform-azure/.terraform
airflow/tests.ipynb
terraform-azure/.ssh
virtualenv
terraform-azure/main.tfplan
terraform-azure/terraform.tfstate
terraform-azure/terraform.tfstate.backup
airflow/processed_files/*
